<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Karan Jagad</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="/static/css/index.css"> <!-- Use the correct static file URL -->

</head>

<body>
    <div id="main">
        <div id="app"></div>
    </div>

    <script src="/static/frontend/main.js"></script> <!-- Use the correct static file URL -->

</body>

</html>
